@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .headerLi {
    @apply text-primaryColor hover:text-secondaryColor cursor-pointer duration-300;
  }
}

/* CSS for the post-item container */
.post-item {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

/* CSS to arrange posts in a grid with 3 columns */
.posts-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 20px;
  margin-top: 20px;
}

/* Hover effect for posts */
.post-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Responsive Design for smaller screens */
@media (max-width: 768px) {
  .posts-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on medium screens */
  }
}

@media (max-width: 480px) {
  .posts-container {
    grid-template-columns: 1fr; /* 1 column on small screens */
  }
}
